<div class="index-container">
    <div class="index-elements">
        <h1>Welcome to my <span id="title-color"> Drone App.</span></h1>
        <p>Have you ever wondered how many drones are out there?
            check out this list, if you see any missing add it!
        </p>

        <a href="/drones">Check them out!</a>
    </div>
</div>