<nav>
    <a href="/drones">Drones</a>
</nav>
<div class="form-container">
    <h2>Update the drone</h2>

    <form method="POST" action="/drones/{{_id}}/edit" class="form">
        <div class="form-layout">
            <div class="label-input-container">
                <label for="name"> Name </label>
                <input type="text" name="name" value="{{name}}" />
            </div>
            <div class="label-input-container">
                <label for="propellers"> Propellers </label>
                <input type="text" name="propellers" value="{{propellers}}" />
            </div>
            <div class="label-input-container">
                <label for="maxSpeed"> Max. speed </label>
                <input type="text" name="maxSpeed" value="{{maxSpeed}}" />
            </div>
        </div>
        <button type="submit" id="form-btn"> Update</button>

    </form>
</div>